---
import OptimizedImage from '../OptimizedImage.astro'

interface Props {
  name: string
  pathSlug: string
  photo?: string
  photoAlt?: string
  quote?: string
}

const { name, photo, photoAlt, quote } = Astro.props
---

<article>
  {
    photo && (
      <OptimizedImage
        src={photo}
        alt={photoAlt || name}
        width={240}
        height={240}
        loading="lazy"
      />
    )
  }
  <div class="max-w-100">
    <h3 class="text-step-0 font-bold">
      {name}
    </h3>
    {quote && <p class="text-step--1 italic">{quote}</p>}
  </div>
</article>
