# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

#db
.tmp

# macOS-specific files
.DS_Store

# lock files
# pnpm-lock.yaml
pnpm-lock.yaml

# webstorm
.idea/

# Local Netlify folder
.netlify
