---
import Icon from '@/components/shared/Icon.astro'
import { useTranslations } from '@/utils'

interface Props {
  menuId: string
  iconId: string
}

const { menuId, iconId } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
---

<button
  type="button"
  class="min-[1200px]:hidden border-0 bg-transparent py-space-xs"
  aria-controls={menuId}
  aria-label={t('nav.toggle_menu')}
  title={t('nav.toggle_menu')}
  data-nav-toggle
>
  <div
    id={iconId}
    class="group relative inline-flex size-6 items-center justify-center"
    data-open="false"
  >
    <Icon
      name="menu"
      class="absolute inset-0 size-full group-data-[open=true]:hidden"
    />
    <Icon
      name="close"
      class="absolute inset-0 size-full group-data-[open=false]:hidden"
    />
  </div>
</button>
