---
import Icon from '@/components/shared/Icon.astro'
import { useTranslations } from '@/utils'

interface Props {
  controlsId: string
  iconId: string
}

const { controlsId, iconId } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
---

<button
  type="button"
  class="desktop:hidden cursor-pointer border-0 bg-transparent py-lg focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orchid-100"
  aria-controls={controlsId}
  aria-expanded="false"
  aria-label={t('nav.toggle_menu')}
  title={t('nav.toggle_menu')}
  data-component="HamburgerButton"
  data-nav-toggle
>
  <div
    id={iconId}
    class="group relative inline-flex size-8 items-center justify-center"
    data-open="false"
  >
    <Icon
      name="menu"
      class="absolute inset-0 size-full group-data-[open=true]:hidden"
    />
    <Icon
      name="close"
      class="absolute inset-0 size-full group-data-[open=false]:hidden"
    />
  </div>
</button>
