---
import { useTranslations } from '@/utils'

interface Props {
  menuId: string
  iconId: string
}

const { menuId, iconId } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const barClass =
  'absolute left-0 block h-[4px] w-full rounded bg-current opacity-100 transition-[transform,top,width,left] duration-200 ease-in-out'
---

<button
  type="button"
  class="min-[1060px]:hidden border-0 bg-transparent py-space-xs"
  aria-controls={menuId}
  aria-label={t('nav.toggle_menu')}
  title={t('nav.toggle_menu')}
  data-nav-toggle
>
  <div
    id={iconId}
    class="group relative h-[1em] w-[1.5em] cursor-pointer transition-[transform] duration-500 ease-in-out"
    data-open="false"
  >
    <span
      class:list={[
        barClass,
        'top-0 group-data-[open=true]:top-1/2 group-data-[open=true]:w-0 group-data-[open=true]:left-1/2'
      ]}></span>
    <span class:list={[barClass, 'top-1/2 group-data-[open=true]:rotate-45']}
    ></span>
    <span class:list={[barClass, 'top-1/2 group-data-[open=true]:-rotate-45']}
    ></span>
    <span
      class:list={[
        barClass,
        'top-full group-data-[open=true]:top-1/2 group-data-[open=true]:w-0 group-data-[open=true]:left-1/2'
      ]}></span>
  </div>
</button>
