---
import { useTranslations } from '@/utils/i18'

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const currentYear = new Date().getFullYear()
---

<footer
  class="text-center py-space-2xs px-space-xs text-step--1 bg-black/15 flex flex-col gap-4 justify-center items-center xs:flex-row xs:justify-between"
>
  <ul class="list-none flex gap-6 justify-center p-0 mt-space-2xs xs:mt-0">
    <li>
      <a
        href="https://interledger.social/@Interledger"
        data-umami-event="Footer - Mastadon"
      >
        <img
          src="/img/lander/icon-fediverse.svg"
          alt={t('footer.social.mastadon')}
          class="w-6 h-6"
        />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/interledger" data-umami-event="Footer - X">
        <img
          src="/img/lander/icon-twitter.svg"
          alt={t('footer.social.twitter')}
          class="w-6 h-6"
        />
      </a>
    </li>
    <li>
      <a
        href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
        data-umami-event="Footer - Slack"
      >
        <img
          src="/img/lander/icon-slack.svg"
          alt={t('footer.social.slack')}
          class="w-6 h-6"
        />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/interledger"
        data-umami-event="Footer - GitHub"
      >
        <img
          src="/img/lander/icon-github.svg"
          alt={t('footer.social.github')}
          class="w-6 h-6"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/company/interledger-foundation/"
        data-umami-event="Footer - LinkedIn"
      >
        <img
          src="/img/lander/icon-linkedin.svg"
          alt={t('footer.social.linkedin')}
          class="w-6 h-6"
        />
      </a>
    </li>
  </ul>
  <p>&copy; 2020–{currentYear}, Interledger Foundation</p>
</footer>
