---
import DevelopersLogo from '../logos/DevelopersLogo.astro'
import { HOME_CONTENT_SLUG, translatePath, useTranslations } from '@/utils/i18'

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
---

<header class="bg-[var(--color-bg)] px-space-m py-space-2xs">
  <div
    class="flex justify-between items-center max-w-[95rem] mx-auto gap-space-s"
  >
    <a
      href={translatePath('foundation-pages', routeLocale, HOME_CONTENT_SLUG)}
      class="flex items-center gap-space-xs flex-none"
      data-umami-event="Devs Nav - Logo"
    >
      <DevelopersLogo class="w-[7em] flex-none text-[var(--color-text)]" />
    </a>
    <a
      href={translatePath('foundation-pages', routeLocale, HOME_CONTENT_SLUG)}
      class="ml-auto inline-flex h-[1.5em] max-w-full flex-wrap overflow-hidden whitespace-nowrap text-step--1"
      data-umami-event="Devs Nav - ILF"
    >
      <span
        class="block w-0 flex-auto overflow-hidden text-ellipsis text-right"
        aria-hidden="true"
        title={t('aria.logo.foundation_title')}
      >
        ILF
      </span>
      <span class="inline flex-[0_1_100%]"> {t('aria.logo.foundation')} </span>
    </a>
    <a
      href="https://github.com/interledger"
      class="h-[1.25em] w-[1.25em]"
      data-umami-event="Devs Nav - GitHub"
    >
      <img
        src="/img/lander/icon-github.svg"
        alt={t('aria.logo.github')}
        class="h-full w-full"
      />
    </a>
  </div>
</header>
