---
import type { MenuItem } from '@/types/navigation'
import LanguageSwitcher from '@/components/shared/LanguageSwitcher.astro'
import LinkButton from '@/components/shared/LinkButton.astro'
import Icon from '@/components/shared/Icon.astro'
import { buildUmamiAttrs } from '@/utils'

interface Props {
  ctaButton?: MenuItem
}

const { ctaButton } = Astro.props
const { routeLocale } = Astro.locals

const ctaAttrs =
  ctaButton &&
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'nav',
    href: ctaButton.href || '#',
    linkText: ctaButton.label
  })
---

<div
  class="flex items-center gap-md desktop:col-start-3 desktop:col-end-4 max-desktop:flex-col max-desktop:items-start max-desktop:px-space-s"
  data-component="FoundationNavActions"
>
  {
    ctaButton && (
      <LinkButton
        href={ctaButton.href || '#'}
        variant="primary"
        size="sm"
        external={ctaButton.openInNewTab}
        class="max-desktop:hidden"
        {...ctaAttrs}
      >
        {ctaButton.label}
        <Icon slot="icon-right" name="arrow-right" />
      </LinkButton>
    )
  }
  <LanguageSwitcher class="max-desktop:hidden" />
</div>
