---
import type { MenuItem } from '@/types/navigation'
import LanguageSwitcher from '@/components/shared/LanguageSwitcher.astro'
import LinkButton from '@/components/shared/LinkButton.astro'
import Icon from '@/components/shared/Icon.astro'
import { buildUmamiAttrs } from '@/utils'

interface Props {
  ctaButton?: MenuItem
}

const { ctaButton } = Astro.props
const { routeLocale } = Astro.locals

const ctaAttrs =
  ctaButton &&
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'nav',
    href: ctaButton.href || '#',
    linkText: ctaButton.label
  })
---

<div
  class="flex items-center gap-space-2xs min-[1200px]:col-start-3 min-[1200px]:col-end-4 max-[1199px]:flex-col max-[1199px]:items-start max-[1199px]:px-space-s"
>
  {
    ctaButton && (
      <LinkButton
        href={ctaButton.href || '#'}
        variant="primary"
        size="sm"
        external={ctaButton.openInNewTab}
        class="max-[1199px]:hidden"
        {...ctaAttrs}
      >
        {ctaButton.label}
        <Icon slot="icon-right" name="arrow-right" />
      </LinkButton>
    )
  }
  <LanguageSwitcher class="max-[1199px]:hidden" />
</div>
