---
import type { MenuItem } from '@/types/navigation'
import LanguageSwitcher from '@/components/shared/LanguageSwitcher.astro'
import { buildUmamiAttrs } from '@/utils'

interface Props {
  ctaButton?: MenuItem
}

const { ctaButton } = Astro.props
const { routeLocale } = Astro.locals

const ctaLinkClass =
  'self-center py-space-s no-underline hover:underline transition-colors duration-150 max-desktop:hidden'

const ctaAttrs =
  ctaButton &&
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'nav',
    href: ctaButton.href || '#',
    linkText: ctaButton.label
  })
---

<div
  class="flex items-center gap-space-s desktop:col-start-3 desktop:col-end-4 max-desktop:flex-col max-desktop:items-start max-desktop:px-space-s"
>
  {
    ctaButton && (
      <a
        class={ctaLinkClass}
        href={ctaButton.href || '#'}
        {...ctaAttrs}
        {...(ctaButton.openInNewTab
          ? { target: '_blank', rel: 'noopener noreferrer' }
          : {})}
      >
        {ctaButton.label}
      </a>
    )
  }
  <LanguageSwitcher />
</div>
