---
import type { Speaker } from '@/types/summit'
import SpeakerCard from './SpeakerCard.astro'
import { useTranslations } from '@/utils'

interface Props {
  speakers: Speaker[]
  basePath: string
  year: string
  extraClass?: string
}

const { speakers, basePath, year, extraClass } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const listClass = `flex flex-wrap gap-xl ${extraClass ?? ''}`.trim()
---

{
  speakers.length > 0 ? (
    <ul class={listClass}>
      {speakers.map((speaker) => (
        <SpeakerCard speaker={speaker} basePath={basePath} year={year} />
      ))}
    </ul>
  ) : (
    <p>{t('summit.no_speakers')}</p>
  )
}
