---
import { parseMarkdown } from '@/utils'

interface InfoCard {
  heading: string
  body: string
}

interface Props {
  heading?: string
  cards: [InfoCard, InfoCard, InfoCard]
  umamiContext?: string
}

const { heading, cards, umamiContext } = Astro.props
const { routeLocale } = Astro.locals

const htmlCards = await Promise.all(
  cards.map(async (card) => ({
    heading: card.heading,
    html: await parseMarkdown(card.body, {
      page: umamiContext,
      pathname: Astro.url.pathname,
      lang: routeLocale
    })
  }))
)
---

<div
  class="flex flex-col gap-xl mx-auto max-w-content px-lg min-w-90 tablet:px-xl desktop:px-5xl [&_h2]:mb-0"
>
  {
    heading && (
      <h2 class="text-h3 tablet:text-h3-md desktop:text-h3-lg text-neutral-900">
        {heading}
      </h2>
    )
  }
  <div class="flex flex-col gap-xl desktop:flex-row desktop:gap-2xl">
    {
      htmlCards.map((card) => (
        <article class="flex flex-1 flex-col gap-lg rounded-3xl bg-ice-indigo-100 p-lg tablet:p-xl tablet:gap-xl">
          <h3 class="text-h3 tablet:text-h3-md desktop:text-h3-lg text-neutral-900">
            {card.heading}
          </h3>
          <div
            class="text-h5 tablet:text-h5-md desktop:text-h5-lg text-neutral-900"
            set:html={card.html}
          />
        </article>
      ))
    }
  </div>
</div>
