/**
 * Summit Page Prose Styles
 * Applied via [data-prose-summit] attribute
 * Part of @layer components - can be overridden by utility classes
 *
 * Summit pages only normalize heading sizes and weights,
 * inheriting most other styles from defaults
 */

@layer components {
  [data-prose-summit] {
    & a {
      color: var(--color-primary);
      text-decoration-line: underline;
      text-decoration-color: currentColor;
      transition:
        color 200ms ease-in-out,
        text-decoration-color 200ms ease-in-out;
    }
    & a:hover {
      color: var(--color-orchid-150);
      text-decoration-line: underline;
      text-decoration-color: currentColor;
    }
  }
}
