---
import Search from '@astrojs/starlight/components/Search.astro'
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro'
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro'
import DevelopersLogo from './logos/DevelopersLogo.astro'
---

<div class="header sl-flex gap-[var(--sl-nav-gap)] items-center h-full">
  <a href="/" class="flex items-center gap-space-xs">
    <DevelopersLogo class="w-[9.5em] flex-none" />
  </a>
  <a href="/" class="home-link overflower">
    <span
      class="overflower-short"
      aria-hidden="true"
      title="Interledger Foundation"
    >
      ILF
    </span>
    <span class="overflower-long"> Interledger Foundation </span>
  </a>
  <Search />
  <div class="sl-hidden md:sl-flex items-center gap-space-s">
    <SocialIcons />
    <ThemeSelect />
  </div>
</div>

<style>

  @reference "../styles/tailwind.css";
  :global(header) {
    border-block-start: 2px solid var(--color-primary-fallback);
    border-block-start: 2px solid var(--color-primary);
    box-shadow: 0px 0px 12px -4px var(--color-primary-fallback);
    box-shadow: 0px 0px 12px -4px var(--color-primary);
  }

  .overflower {
    @apply inline-flex flex-wrap overflow-hidden max-w-full whitespace-nowrap ml-auto h-[1.5em];
  }

  .overflower-short {
    @apply block overflow-hidden flex-auto w-0 text-ellipsis text-right;
  }

  .overflower-long {
    @apply inline;
    flex: 0 1 100%;
  }

  .home-link {
    color: var(--color-primary-fallback);
    color: var(--color-primary);
    @apply no-underline;
  }

  :global([data-theme='dark']) .home-link {
    color: var(--sl-color-text-accent);
  }

  .home-link:hover {
    @apply underline;
  }

  :global(site-search > button[data-open-modal]) {
    width: auto;
  }
</style>
