---
import { twMerge } from '@/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props

const logoClass = twMerge(
  'foundation-logo inline-block shrink-0 [&>svg]:block [&>svg]:h-10 [&>svg]:w-auto',
  className
)
---

<span class={logoClass} role="img" aria-hidden="true">
  <svg
    viewBox="0 0 148 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <mask
      id="foundation-logo-mask"
      style="mask-type:luminance"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="148"
      height="40"
    >
      <path d="M147.83 0H0V40H147.83V0Z" fill="white"></path>
    </mask>
    <g mask="url(#foundation-logo-mask)">
      <path
        d="M32.8086 27.8022C32.8086 27.8022 32.8142 27.7994 32.8171 27.7965V27.7909C32.8171 27.7937 32.8114 27.7994 32.8086 27.8022Z"
        fill="#FF334B"></path>
      <path
        d="M32.8086 12.1979C32.8086 12.1979 32.8142 12.2063 32.8171 12.2092V12.2035C32.8142 12.2035 32.8114 12.2007 32.8086 12.1979Z"
        fill="#FF334B"></path>
      <path
        d="M7.18359 27.7965C7.18359 27.7965 7.18924 27.7994 7.19206 27.8022C7.19206 27.7994 7.18642 27.7937 7.18359 27.7909V27.7965Z"
        fill="#FF334B"></path>
      <path
        d="M7.18555 12.2092C7.18555 12.2092 7.19119 12.2007 7.19401 12.1979C7.19119 12.1979 7.18837 12.2007 7.18555 12.2035V12.2092Z"
        fill="#FF334B"></path>
      <path
        d="M20.0021 5.00675C22.8554 5.00675 25.5225 5.80263 27.7916 7.18555H27.7972C26.0164 4.27296 23.2675 2.01516 20.0021 0.858032C16.7339 2.01516 13.9879 4.27296 12.207 7.18555H12.2127C14.4818 5.80263 17.1488 5.00675 20.0021 5.00675Z"
        fill="#FF7D00"></path>
      <path
        d="M27.7899 7.1855C25.5208 5.80259 22.8537 5.00671 20.0004 5.00671C17.1471 5.00671 14.48 5.80259 12.2109 7.1855C14.9542 7.78383 17.5761 8.7688 20.0004 10.1432C22.4247 8.7688 25.0466 7.78383 27.7899 7.1855Z"
        fill="#FFAD42"></path>
      <path
        d="M34.9952 20.0014C34.9952 22.8547 34.1993 25.5218 32.8164 27.7909V27.7965C35.729 26.0157 37.9868 23.2668 39.1439 20.0014C37.9868 16.7332 35.729 13.9871 32.8164 12.2063V12.2119C34.1993 14.481 34.9952 17.1481 34.9952 20.0014Z"
        fill="#00987D"></path>
      <path
        d="M32.8152 27.7908C34.1981 25.5217 34.9939 22.8547 34.9939 20.0014C34.9939 17.1481 34.1981 14.481 32.8152 12.2119C32.2168 14.9552 31.2319 17.577 29.8574 20.0014C31.2319 22.4257 32.2168 25.0476 32.8152 27.7908Z"
        fill="#3DBBB5"></path>
      <path
        d="M37.4509 6.62951C36.3672 5.02081 34.9786 3.63226 33.37 2.54851C30.9823 0.939815 28.1036 0 25.0047 0C23.2493 0 21.5644 0.301983 19.998 0.857969C23.2662 2.0151 26.0123 4.27291 27.7932 7.18549C27.7932 7.18832 27.796 7.19114 27.7988 7.19396C29.8393 8.43858 31.5581 10.1602 32.8055 12.2007C32.8083 12.2007 32.8111 12.2035 32.814 12.2063C35.7265 13.9872 37.9844 16.7361 39.1415 20.0014C39.6947 18.4351 39.9995 16.7502 39.9995 14.9947C39.9995 11.8959 39.0596 9.01997 37.4509 6.62951Z"
        fill="#00CB76"></path>
      <path
        d="M27.8023 7.19389C27.8023 7.19389 27.7995 7.18825 27.7967 7.18542C27.7967 7.18542 27.7938 7.18542 27.791 7.18542C27.7938 7.18542 27.7995 7.19107 27.8023 7.19389Z"
        fill="#FF334B"></path>
      <path
        d="M32.8094 12.1978C31.5648 10.1573 29.8432 8.43853 27.8027 7.19106C27.7999 7.19106 27.7942 7.18544 27.7914 7.18262C25.0482 7.78094 22.4263 8.76591 20.002 10.1404C20.2672 10.2928 20.5325 10.448 20.795 10.6089C22.3839 11.5854 23.8797 12.7425 25.2598 14.0718C25.4884 14.2863 25.7114 14.5092 25.9259 14.7378C27.258 16.1179 28.4123 17.6137 29.3888 19.2027C29.5497 19.4651 29.7049 19.7276 29.8573 19.9957C31.2318 17.5714 32.2167 14.9495 32.815 12.2063C32.815 12.2034 32.8094 12.1978 32.8066 12.1949L32.8094 12.1978Z"
        fill="#ADE17C"></path>
      <path
        d="M5.00616 20.0014C5.00616 17.1481 5.80204 14.481 7.18495 12.2119V12.2063C4.27237 13.9871 2.01455 16.736 0.857422 20.0014C2.01455 23.2696 4.27237 26.0157 7.18495 27.7965V27.7909C5.80204 25.5218 5.00616 22.8547 5.00616 20.0014Z"
        fill="#E50059"></path>
      <path
        d="M7.18465 12.2091C5.80174 14.4782 5.00586 17.1453 5.00586 19.9986C5.00586 22.8519 5.80174 25.5189 7.18465 27.788C7.78297 25.0448 8.76794 22.4229 10.1424 19.9986C8.76794 17.5742 7.78297 14.9524 7.18465 12.2091Z"
        fill="#FF7193"></path>
      <path
        d="M20.0021 34.9962C17.1488 34.9962 14.4818 34.2003 12.2127 32.8174C12.2127 32.8174 12.2099 32.8174 12.207 32.8174C13.9879 35.73 16.7368 37.9878 20.0021 39.1449C23.2703 37.9878 26.0164 35.73 27.7972 32.8174H27.7916C25.5225 34.2003 22.8554 34.9962 20.0021 34.9962Z"
        fill="#6D6CDB"></path>
      <path
        d="M12.209 32.8145C14.4781 34.1975 17.1451 34.9933 19.9984 34.9933C22.8518 34.9933 25.5188 34.1975 27.7879 32.8145C25.0447 32.2162 22.4228 31.2313 19.9984 29.8568C17.5741 31.2313 14.9522 32.2162 12.209 32.8145Z"
        fill="#929EFF"></path>
      <path
        d="M12.2044 32.8174C12.2044 32.8174 12.2015 32.8117 12.1987 32.8089C10.1582 31.5643 8.43945 29.8427 7.19201 27.8022C7.18919 27.8022 7.18637 27.7994 7.18354 27.7966C4.27096 26.0157 2.01315 23.2668 0.856016 20.0015C0.302852 21.5678 -0.00195312 23.2527 -0.00195312 25.0082H0.000869153C0.000869153 28.107 0.940684 30.9829 2.54938 33.3734C3.63313 34.9821 5.02169 36.3706 6.63038 37.4544C9.02084 39.0631 11.8996 40.0029 14.9956 40.0029C16.751 40.0029 18.4359 39.7009 20.0023 39.1449C16.7341 37.9878 13.988 35.73 12.2072 32.8174H12.2044Z"
        fill="#893BA1"></path>
      <path
        d="M12.1973 32.8088C12.1973 32.8088 12.2001 32.8145 12.2029 32.8173H12.2086C12.2057 32.8173 12.2001 32.8117 12.1973 32.8088Z"
        fill="#FF334B"></path>
      <path
        d="M19.2095 29.3883C17.6206 28.4118 16.1248 27.2575 14.7475 25.9282C14.5161 25.7109 14.2931 25.488 14.0758 25.2565C12.7465 23.8764 11.5922 22.3835 10.6157 20.7945C10.4548 20.5321 10.2996 20.2696 10.1472 20.0015C8.77275 22.4258 7.78777 25.0477 7.18945 27.7909C7.18945 27.7937 7.1951 27.7994 7.19792 27.8022C8.44254 29.8427 10.1641 31.5615 12.2046 32.8089C12.2074 32.8089 12.2131 32.8146 12.2159 32.8174C14.9592 32.2191 17.5839 31.2341 20.0054 29.8596C19.7401 29.7072 19.4748 29.552 19.2123 29.3911L19.2095 29.3883Z"
        fill="#E4A6F0"></path>
      <path
        d="M14.9947 0C11.8959 0 9.01997 0.939815 6.62951 2.54851C5.02081 3.63226 3.63226 5.02081 2.54851 6.62951C0.939815 9.01997 0 11.8959 0 14.9947C0 16.7502 0.301983 18.4351 0.857969 20.0014C2.0151 16.7332 4.27291 13.9872 7.18549 12.2063C7.18832 12.2063 7.19114 12.2035 7.19396 12.2007C8.43858 10.1602 10.1602 8.4414 12.2007 7.19396C12.2007 7.19114 12.2035 7.18832 12.2063 7.18549C13.9872 4.27291 16.7361 2.0151 20.0014 0.857969C18.4351 0.304805 16.7502 0 14.9947 0Z"
        fill="#FF3148"></path>
      <path
        d="M12.2125 7.18542H12.2068C12.2068 7.18825 12.204 7.19107 12.2012 7.19389C12.204 7.19389 12.2096 7.18825 12.2125 7.18542Z"
        fill="#FF334B"></path>
      <path
        d="M12.212 7.18542C12.212 7.18542 12.2035 7.19107 12.2007 7.19389C10.1602 8.43851 8.44146 10.1601 7.19401 12.2006C7.19401 12.2034 7.18837 12.2091 7.18555 12.2119C7.78387 14.9551 8.76884 17.577 10.1433 20.0013C10.2957 19.7361 10.4509 19.4708 10.6118 19.2083C11.5883 17.6193 12.7426 16.1235 14.0747 14.7435C14.292 14.512 14.515 14.2891 14.7436 14.0746C16.1237 12.7453 17.6195 11.591 19.2084 10.6117C19.4709 10.4508 19.7334 10.2956 20.0015 10.1432C17.5771 8.76872 14.9553 7.78375 12.212 7.18542Z"
        fill="#FFBABB"></path>
      <path
        d="M39.1454 20.0015C37.9883 23.2697 35.7305 26.0157 32.8179 27.7966C32.815 27.7966 32.8122 27.7994 32.8094 27.8022C31.5648 29.8427 29.8432 31.5615 27.8027 32.8089C27.8027 32.8117 27.7999 32.8146 27.7971 32.8174C26.0162 35.73 23.2673 37.9878 20.002 39.1449C21.5683 39.6981 23.2532 40.0029 25.0087 40.0029C28.1075 40.0029 30.9834 39.0631 33.3739 37.4544C34.9826 36.3706 36.3711 34.9821 37.4549 33.3734C39.0636 30.9829 40.0034 28.1042 40.0034 25.0082C40.0034 23.2527 39.7014 21.5678 39.1454 20.0015Z"
        fill="#00A8C2"></path>
      <path
        d="M27.791 32.8145H27.7967C27.7967 32.8117 27.7995 32.8089 27.8023 32.806C27.7995 32.806 27.7938 32.8117 27.791 32.8145Z"
        fill="#FF334B"></path>
      <path
        d="M29.8571 20.0015C29.7047 20.2696 29.5495 20.5321 29.3886 20.7945C28.4121 22.3835 27.2578 23.8793 25.9257 25.2593C25.7084 25.4908 25.4854 25.7137 25.254 25.931C23.8739 27.2603 22.3809 28.4146 20.7892 29.394C20.5267 29.5548 20.2642 29.7101 19.9961 29.8625C22.4204 31.2369 25.0423 32.2219 27.7856 32.8202C27.7884 32.8202 27.794 32.8146 27.7968 32.8117C29.8373 31.5671 31.5561 29.8455 32.8035 27.805C32.8035 27.8022 32.8092 27.7966 32.812 27.7937C32.2137 25.0505 31.2287 22.4286 29.8543 20.0043L29.8571 20.0015Z"
        fill="#54E1C6"></path>
      <path
        class="foundation-logo-wordmark"
        d="M53.2827 28.0674H49.673V29.9837H52.9638V31.0985H49.673V33.2999H48.3945V26.9442H53.2827V28.0674ZM59.8755 30.1136C59.8755 31.4231 58.995 32.2416 57.5895 32.2416C56.184 32.2416 55.278 31.4316 55.278 30.1136C55.278 28.7956 56.184 27.9771 57.581 27.9771C58.978 27.9771 59.8755 28.8069 59.8755 30.1136ZM61.1907 30.122C61.1907 28.1041 59.8134 26.8341 57.581 26.8341C55.3486 26.8341 53.9713 28.1013 53.9713 30.122C53.9713 32.1428 55.3401 33.4128 57.5725 33.4128C59.805 33.4128 61.1907 32.14 61.1907 30.122ZM68.76 30.1418V26.9442H67.5097V30.139C67.5097 31.5303 66.9566 32.2387 65.6414 32.2387C64.3262 32.2387 63.711 31.5473 63.711 30.139V26.9442H62.4325V30.1418C62.4325 32.2782 63.3469 33.4128 65.5624 33.4128C67.7779 33.4128 68.7628 32.1597 68.7628 30.1418H68.76ZM76.5608 26.9442H75.2823V31.3271H75.2653L71.6105 26.9442H70.3236V33.2999H71.602V28.9169H71.619L75.2738 33.2999H76.5608V26.9442ZM83.5797 30.0853C83.5797 31.4033 82.7895 32.1597 80.8309 32.1597H79.4338V28.0702H80.8309C82.8262 28.0702 83.5797 28.7702 83.5797 30.0882V30.0853ZM84.8949 30.0769C84.8949 27.9856 83.6418 26.947 80.9042 26.947H78.1553V33.3027H80.9042C83.6616 33.3027 84.8949 32.0779 84.8949 30.0769ZM88.7332 28.1634L89.7774 30.6498H87.6918L88.7163 28.1634H88.736H88.7332ZM92.2582 33.3027L89.4472 26.947H88.0502L85.2308 33.3027H86.5996L87.3051 31.5811H90.1359L90.8612 33.3027H92.2582ZM98.3712 28.0702V26.947H91.8067V28.0702H94.4455V33.3027H95.724V28.0702H98.3712ZM100.702 26.947H99.424V33.3027H100.702V26.947ZM107.967 30.1164C107.967 31.4259 107.086 32.2444 105.681 32.2444C104.275 32.2444 103.369 31.4344 103.369 30.1164C103.369 28.7984 104.275 27.9799 105.672 27.9799C107.069 27.9799 107.967 28.8097 107.967 30.1164ZM109.282 30.1249C109.282 28.1069 107.905 26.8369 105.672 26.8369C103.44 26.8369 102.063 28.1041 102.063 30.1249C102.063 32.1456 103.432 33.4156 105.664 33.4156C107.896 33.4156 109.282 32.1428 109.282 30.1249ZM116.798 26.947H115.519V31.33H115.502L111.848 26.947H110.561V33.3027H111.839V28.9197H111.856L115.511 33.3027H116.798V26.947ZM123.837 26.487C122.129 26.487 120.851 26.2612 120.029 25.8153C119.219 25.375 118.807 24.5565 118.807 23.3825C118.807 22.8547 118.943 22.3975 119.208 22.0193C119.476 21.6383 119.914 21.2206 120.512 20.7719L120.566 20.7323L120.509 20.6957C120.027 20.3852 119.781 19.8603 119.781 19.1378C119.781 18.8555 119.984 18.387 120.385 17.7407L120.614 17.3739L120.574 17.3513C119.507 16.736 118.965 15.6466 118.965 14.1085C118.965 12.8187 119.372 11.8591 120.17 11.258C120.975 10.654 122.078 10.3492 123.453 10.3492C124.11 10.3492 124.771 10.4226 125.414 10.5665L125.756 10.6315L129.23 10.5468V12.3756L127.297 12.2627L127.362 12.3417C127.762 12.8413 127.963 13.4368 127.963 14.1057C127.963 15.514 127.59 16.4961 126.859 17.0324C126.123 17.5714 124.954 17.8452 123.385 17.8452C122.996 17.8452 122.665 17.8169 122.397 17.7577L122.361 17.7492L122.346 17.7831C122.135 18.2826 122.025 18.6749 122.025 18.9487C122.025 19.2394 122.177 19.4398 122.473 19.5498C122.761 19.6542 123.43 19.7135 124.517 19.7276C126.298 19.7417 127.531 19.976 128.186 20.4191C128.835 20.8594 129.162 21.7089 129.162 22.9394C129.162 25.2903 127.37 26.4813 123.837 26.4813V26.487ZM122.064 21.5762C121.728 21.8415 121.488 22.0927 121.35 22.3213C121.212 22.5527 121.138 22.8378 121.138 23.1651C121.138 23.6901 121.361 24.0739 121.799 24.2997C122.225 24.5198 122.964 24.6327 123.995 24.6327C125.843 24.6327 126.783 24.1106 126.783 23.0777C126.783 22.4934 126.611 22.1153 126.269 21.9544C125.939 21.7992 125.282 21.7117 124.314 21.6976L122.078 21.5649L122.064 21.5762ZM123.453 12.1188C122.039 12.1188 121.322 12.7877 121.322 14.1113C121.322 14.7915 121.494 15.2995 121.836 15.6212C122.174 15.9401 122.727 16.1038 123.475 16.1038C124.223 16.1038 124.774 15.9401 125.104 15.6212C125.437 15.2995 125.606 14.7915 125.606 14.1113C125.606 13.4311 125.434 12.9231 125.092 12.6014C124.754 12.2825 124.201 12.1188 123.453 12.1188ZM134.804 21.6552C133.15 21.6552 131.945 21.2121 131.225 20.3372C130.503 19.4595 130.136 18.0343 130.136 16.101C130.136 12.2712 131.776 10.3295 135.007 10.3295C137.787 10.3295 139.348 11.6475 139.661 14.2552C139.723 14.7802 139.717 15.3108 139.669 15.8357L139.565 16.9533H132.538V16.9985C132.555 17.9101 132.763 18.5902 133.161 19.0192C133.562 19.451 134.313 19.6684 135.394 19.6684C136.475 19.6684 137.578 19.6232 138.704 19.5357L139.291 19.4736L139.334 21.1585C137.637 21.4859 136.113 21.6524 134.804 21.6524V21.6552ZM135.007 12.2063C134.152 12.2063 133.52 12.4405 133.125 12.9006C132.735 13.3578 132.529 14.1198 132.512 15.1612V15.2063H137.383V15.1612C137.383 14.0774 137.2 13.307 136.842 12.8695C136.48 12.4292 135.862 12.2091 135.004 12.2091L135.007 12.2063ZM111.396 21.6552C109.937 21.6552 108.856 21.2262 108.179 20.3824C107.501 19.5357 107.157 18.0879 107.157 16.0813C107.157 14.0746 107.538 12.5986 108.292 11.6926C109.042 10.7895 110.23 10.3323 111.825 10.3323C112.361 10.3323 113.228 10.4282 114.402 10.6173L114.455 10.6258V6.48272L116.835 6.03398V21.4182H114.478V20.8227L114.413 20.8537C113.321 21.3871 112.308 21.6581 111.396 21.6581V21.6552ZM111.896 12.2938C110.346 12.2938 109.562 13.544 109.562 16.0135C109.562 17.3597 109.742 18.3052 110.101 18.8273C110.462 19.3551 111.043 19.6232 111.825 19.6232C112.607 19.6232 113.341 19.4906 114.038 19.2253L114.453 19.0616V12.5167L114.413 12.5111C113.507 12.3643 112.658 12.2909 111.89 12.2909L111.896 12.2938ZM100.86 21.6552C99.2066 21.6552 98.0015 21.2121 97.2819 20.3372C96.5594 19.4595 96.1925 18.0343 96.1925 16.101C96.1925 12.2712 97.8322 10.3295 101.064 10.3295C103.844 10.3295 105.404 11.6475 105.718 14.2552C105.78 14.7802 105.774 15.3108 105.726 15.8357L105.622 16.9533H98.5942V16.9985C98.6111 17.9101 98.82 18.5902 99.2179 19.0192C99.6187 19.451 100.369 19.6684 101.45 19.6684C102.531 19.6684 103.635 19.6232 104.761 19.5357L105.348 19.4736L105.39 21.1585C103.694 21.4859 102.17 21.6524 100.86 21.6524V21.6552ZM101.064 12.2063C100.209 12.2063 99.5764 12.4405 99.1812 12.9006C98.7918 13.3578 98.5857 14.1198 98.5688 15.1612V15.2063H103.44V15.1612C103.44 14.0774 103.257 13.3041 102.898 12.8695C102.534 12.4292 101.919 12.2091 101.061 12.2091L101.064 12.2063ZM77.1365 21.6552C75.4827 21.6552 74.2775 21.2121 73.5579 20.3372C72.8354 19.4595 72.4685 18.0343 72.4685 16.101C72.4685 12.2712 74.1082 10.3295 77.3397 10.3295C80.1196 10.3295 81.6804 11.6475 81.9936 14.2552C82.0557 14.7802 82.0501 15.3108 82.0021 15.8357L81.8977 16.9533H74.8674V16.9985C74.8815 17.9101 75.0932 18.5902 75.4911 19.0192C75.8919 19.451 76.6426 19.6684 77.7235 19.6684C78.8045 19.6684 79.908 19.6232 81.0341 19.5357L81.6211 19.4736L81.6634 21.1585C79.9672 21.4859 78.4432 21.6524 77.1337 21.6524L77.1365 21.6552ZM77.3397 12.2063C76.4846 12.2063 75.8524 12.4405 75.4573 12.9006C75.0678 13.3578 74.8618 14.1198 74.8448 15.1612V15.2063H79.7161V15.1612C79.7161 14.0774 79.5326 13.3041 79.1742 12.8695C78.8101 12.4292 78.1949 12.2091 77.3369 12.2091L77.3397 12.2063ZM69.2962 21.6552C68.0319 21.6552 67.157 21.373 66.6913 20.8198C66.2256 20.261 65.9885 19.1914 65.9885 17.6335V12.5139H64.377V10.5722H65.9885V8.47806L68.3451 8.02932V10.5694H71.4722V12.5111H68.3451V17.3682C68.3451 18.2742 68.4129 18.8584 68.554 19.1603C68.6979 19.468 69.062 19.6232 69.6377 19.6232L71.4525 19.5583L71.5597 21.3758C70.5719 21.5593 69.8127 21.6524 69.2962 21.6524V21.6552ZM141.622 21.4153V10.5637H143.979V11.9128L144.05 11.8704C145.306 11.0858 146.576 10.5694 147.831 10.3351V12.6268C146.55 12.8723 145.438 13.1969 144.529 13.5835L144.004 13.7924V21.4097H141.625L141.622 21.4153ZM91.705 21.4153V6.47425L94.0842 6.02551V21.4097H91.705V21.4153ZM83.9551 21.4153V10.5637H86.3117V11.9128L86.3823 11.8704C87.6382 11.0858 88.9082 10.5694 90.1641 10.3351V12.6268C88.8828 12.8723 87.7708 13.1969 86.862 13.5835L86.3371 13.7924V21.4097H83.9579L83.9551 21.4153ZM60.7081 21.4153V15.6636C60.7081 14.481 60.5726 13.6287 60.3073 13.1263C60.0364 12.6183 59.4776 12.3587 58.6478 12.3587C57.8745 12.3587 57.1238 12.5083 56.4098 12.799L56.0429 12.9401V21.4125H53.6637V10.5637H56.0203V11.2749L56.088 11.2382C57.1774 10.6315 58.2245 10.3266 59.1925 10.3266C60.6799 10.3266 61.7072 10.7359 62.2462 11.543C62.7909 12.3559 63.0647 13.719 63.0647 15.5958V21.4125H60.7081V21.4153ZM48.4284 21.4153V6.02551L50.8527 6.47425V21.4097H48.4284V21.4153Z"
      ></path>
    </g>
  </svg>
</span>
