---
const { class: className } = Astro.props
---

<svg
  role="img"
  class={className}
  viewBox="0 0 39.93 39.927"
  fill="none"
  overflow="visible"
  aria-hidden="true"
  ><title>Interledger icon</title><g
    stroke="currentColor"
    stroke-miterlimit="10"
    stroke-width="1.01"
    ><path
      fill="transparent"
      d="M 32.749 27.749 C 32.749 27.749 32.755 27.746 32.758 27.744 L 32.758 27.738 C 32.758 27.738 32.752 27.746 32.749 27.749 Z M 32.749 12.175 C 32.749 12.175 32.755 12.183 32.758 12.186 L 32.758 12.18 C 32.758 12.18 32.752 12.177 32.749 12.175 Z M 7.172 27.744 C 7.172 27.744 7.177 27.746 7.18 27.749 C 7.18 27.746 7.175 27.741 7.172 27.738 Z M 7.175 12.186 C 7.175 12.186 7.18 12.177 7.183 12.175 C 7.18 12.175 7.177 12.175 7.175 12.18 Z M 19.966 4.997 C 22.814 4.997 25.476 5.792 27.741 7.172 L 27.746 7.172 C 25.969 4.265 23.225 2.011 19.966 0.856 C 16.704 2.011 13.963 4.265 12.186 7.172 L 12.192 7.172 C 14.456 5.792 17.118 4.997 19.966 4.997 Z"
    ></path><path
      fill="transparent"
      d="M 27.741 7.172 C 25.476 5.792 22.814 4.997 19.966 4.997 C 17.118 4.997 14.456 5.792 12.192 7.172 C 14.93 7.769 17.546 8.752 19.966 10.124 C 22.386 8.752 25.003 7.769 27.741 7.172 Z M 34.932 19.963 C 34.932 22.811 34.138 25.473 32.758 27.738 L 32.758 27.744 C 35.665 25.966 37.918 23.223 39.073 19.963 C 37.918 16.701 35.665 13.961 32.758 12.183 L 32.758 12.189 C 34.138 14.454 34.932 17.115 34.932 19.963 Z"
    ></path><path
      fill="transparent"
      d="M 32.755 27.738 C 34.135 25.473 34.93 22.811 34.93 19.963 C 34.93 17.115 34.135 14.454 32.755 12.189 C 32.158 14.927 31.175 17.544 29.803 19.963 C 31.175 22.383 32.158 25 32.755 27.738 Z"
    ></path><path
      fill="transparent"
      d="M 37.383 6.617 C 36.3 5.01 34.917 3.627 33.31 2.544 C 30.927 0.938 28.054 0 24.961 0 C 23.208 0 21.527 0.301 19.963 0.856 C 23.225 2.011 25.966 4.265 27.744 7.172 C 27.744 7.175 27.744 7.177 27.749 7.18 C 29.788 8.426 31.501 10.139 32.746 12.177 C 32.749 12.177 32.752 12.18 32.755 12.183 C 35.662 13.961 37.915 16.704 39.07 19.963 C 39.638 18.358 39.927 16.668 39.927 14.966 C 39.927 11.873 38.989 9.003 37.383 6.617 Z"
    ></path><path
      fill="transparent"
      d="M 27.752 7.18 C 27.752 7.18 27.749 7.175 27.746 7.172 L 27.741 7.172 C 27.741 7.172 27.749 7.177 27.752 7.18 Z"
    ></path><path
      fill="transparent"
      d="M 32.749 12.175 C 31.504 10.136 29.791 8.423 27.752 7.177 C 27.749 7.177 27.744 7.172 27.741 7.169 C 25.003 7.766 22.386 8.749 19.966 10.121 C 20.231 10.273 20.496 10.428 20.758 10.589 C 22.363 11.577 23.857 12.736 25.214 14.045 C 25.442 14.259 25.665 14.482 25.879 14.71 C 27.403 16.287 28.721 18.05 29.803 19.958 C 31.175 17.538 32.158 14.921 32.755 12.183 C 32.755 12.183 32.749 12.175 32.746 12.172 L 32.749 12.172 Z M 5 19.963 C 5 17.115 5.794 14.454 7.175 12.189 L 7.175 12.183 C 4.268 13.961 2.014 16.704 0.859 19.963 C 2.014 23.225 4.268 25.966 7.175 27.744 L 7.175 27.738 C 5.794 25.473 5 22.811 5 19.963 Z"
    ></path><path
      fill="transparent"
      d="M 7.175 12.186 C 5.794 14.451 5 17.113 5 19.961 C 5 22.808 5.794 25.47 7.175 27.735 C 7.772 24.997 8.755 22.38 10.127 19.961 C 8.755 17.541 7.772 14.924 7.175 12.186 Z M 19.966 34.93 C 17.118 34.93 14.456 34.135 12.192 32.755 L 12.186 32.755 C 13.963 35.662 16.707 37.915 19.966 39.07 C 23.228 37.915 25.969 35.662 27.746 32.755 L 27.741 32.755 C 25.476 34.135 22.814 34.93 19.966 34.93 Z"
    ></path><path
      fill="transparent"
      d="M 12.189 32.752 C 14.454 34.132 17.115 34.927 19.963 34.927 C 22.811 34.927 25.473 34.132 27.738 32.752 C 25 32.155 22.383 31.172 19.963 29.8 C 17.544 31.172 14.927 32.155 12.189 32.752 Z"
    ></path><path
      fill="transparent"
      d="M 12.183 32.755 C 12.183 32.755 12.18 32.749 12.177 32.746 C 10.139 31.501 8.426 29.788 7.18 27.749 C 7.177 27.749 7.175 27.746 7.172 27.744 C 4.265 25.966 2.011 23.223 0.856 19.963 C 0.289 21.568 -0.001 23.258 0 24.961 L 0.003 24.961 C 0.003 28.054 0.941 30.924 2.546 33.31 C 3.628 34.915 5.014 36.301 6.62 37.383 C 9.006 38.989 11.879 39.927 14.969 39.927 C 16.721 39.927 18.403 39.625 19.966 39.07 C 16.704 37.915 13.963 35.662 12.186 32.755 Z"
    ></path><path
      fill="transparent"
      d="M 12.177 32.746 C 12.177 32.746 12.177 32.752 12.183 32.755 L 12.189 32.755 C 12.189 32.755 12.18 32.749 12.177 32.746 Z M 19.175 29.332 C 17.57 28.346 16.076 27.188 14.721 25.879 C 14.49 25.662 14.268 25.439 14.051 25.208 C 12.529 23.631 11.212 21.869 10.13 19.963 C 8.758 22.383 7.775 25 7.177 27.738 C 7.177 27.741 7.183 27.746 7.186 27.749 C 8.432 29.788 10.144 31.501 12.183 32.746 C 12.183 32.746 12.192 32.752 12.194 32.755 C 14.932 32.158 17.552 31.175 19.969 29.803 C 19.704 29.651 19.439 29.496 19.177 29.335 L 19.175 29.335 Z M 14.969 0 C 11.876 0 9.006 0.938 6.62 2.544 C 5.013 3.627 3.63 5.01 2.546 6.617 C 0.884 9.084 -0.002 11.992 0.003 14.966 C 0.003 16.718 0.304 18.4 0.859 19.963 C 2.014 16.701 4.268 13.961 7.175 12.183 C 7.177 12.183 7.18 12.183 7.183 12.177 C 8.429 10.139 10.142 8.426 12.18 7.18 C 12.18 7.177 12.183 7.175 12.186 7.172 C 13.963 4.265 16.707 2.011 19.966 0.856 C 18.361 0.289 16.671 -0.001 14.969 0 Z"
    ></path><path
      fill="transparent"
      d="M 12.192 7.172 L 12.186 7.172 C 12.186 7.172 12.186 7.177 12.18 7.18 C 12.183 7.18 12.189 7.175 12.192 7.172 Z"
    ></path><path
      fill="transparent"
      d="M 12.192 7.172 C 12.192 7.172 12.183 7.177 12.18 7.18 C 10.142 8.426 8.429 10.139 7.183 12.177 C 7.183 12.18 7.177 12.186 7.175 12.189 C 7.772 14.927 8.755 17.544 10.127 19.963 C 10.279 19.699 10.434 19.434 10.594 19.172 C 11.582 17.566 12.741 16.071 14.051 14.715 C 14.268 14.485 14.49 14.262 14.718 14.048 C 16.096 12.721 17.589 11.569 19.175 10.592 C 19.437 10.431 19.699 10.276 19.966 10.124 C 17.546 8.752 14.93 7.769 12.192 7.172 Z M 39.073 19.963 C 37.918 23.225 35.665 25.966 32.758 27.744 C 32.755 27.744 32.752 27.746 32.749 27.749 C 31.504 29.788 29.791 31.501 27.752 32.746 C 27.752 32.749 27.749 32.752 27.746 32.755 C 25.969 35.662 23.225 37.915 19.966 39.07 C 21.571 39.638 23.261 39.927 24.963 39.927 C 28.056 39.927 30.927 38.989 33.313 37.383 C 34.918 36.301 36.304 34.915 37.386 33.31 C 38.992 30.924 39.93 28.051 39.93 24.961 C 39.93 23.208 39.628 21.527 39.073 19.963 Z"
    ></path><path
      fill="transparent"
      d="M 27.741 32.752 L 27.746 32.752 C 27.746 32.752 27.749 32.746 27.752 32.744 C 27.749 32.744 27.744 32.749 27.741 32.752 Z"
    ></path><path
      fill="transparent"
      d="M 29.803 19.963 C 28.721 21.871 27.403 23.634 25.879 25.211 C 25.662 25.442 25.439 25.665 25.208 25.882 C 23.852 27.191 22.357 28.349 20.752 29.338 C 20.49 29.499 20.228 29.654 19.961 29.806 C 22.38 31.177 24.997 32.161 27.735 32.758 C 27.738 32.758 27.744 32.752 27.746 32.749 C 29.785 31.504 31.498 29.791 32.744 27.752 C 32.744 27.752 32.749 27.744 32.752 27.741 C 32.155 25.003 31.172 22.386 29.8 19.966 L 29.803 19.966 Z"
    ></path></g
  ></svg
>
