---
import type { FoundationTag } from '@/schemas/content'
interface Props {
  tags: FoundationTag[]
}
const { tags } = Astro.props
---

<footer>
  <ul class="flex gap-space-xs mb-space-s">
    {
      tags.map((tag) => (
        <li class="mb-space-xs">
          <a href="#">#{tag}</a>
        </li>
      ))
    }
  </ul>
</footer>
