---
import type { FoundationTag } from '@/schemas/content'
import { getTagUrl, translateTag, useTranslations } from '@/utils'
interface Props {
  tags: FoundationTag[]
  path: string
}
const { tags, path } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
---

<footer>
  <ul class="flex gap-space-xs mb-space-s list-none! ps-0!">
    {
      tags.map((tag) => (
        <li class="mb-space-xs">
          <a href={getTagUrl(path, tag)}>#{translateTag(tag, t)}</a>
        </li>
      ))
    }
  </ul>
</footer>
