---
import { translatePath, useTranslations } from '@/utils'

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
---

<hr class="mt-space-l mb-space-s" />

<p class="italic">
  {t('blog.community.developers.start')}
  <a
    href="https://github.com/interledger/"
    data-umami-event="Blog Developers - GitHub">{t('blog.community.github')}</a
  >. {t('blog.community.developers.middle')}
  <a
    href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
    data-umami-event="Blog Developers - Community Slack"
    >{t('blog.community.slack')}</a
  >
  {t('blog.community.foundation.or')}
  <a
    href="https://docs.google.com/document/d/1T_Q_eRZtL8GluJR9rVADd7fvkB8mPluMk-d96LM4vlg/edit?usp=sharing"
    data-umami-event="Blog Developers - Community Call"
    >{t('blog.community.call')}</a
  >, {t('blog.community.foundation.end')}
</p>

<p class="italic">
  {t('blog.community.developers.newsletter')}
  <a
    href={translatePath('foundation-pages', routeLocale, 'subscribe')}
    data-umami-event="Blog Developers - Newsletter"
    >{t('blog.community.newsletter')}</a
  >.
</p>
