---

---

<hr class="mt-space-l mb-space-s" />

<p class="italic">
  If you want to stay updated with all open opportunities and news from the
  Interledger Foundation, you can subscribe to our <a
    href="https://interledger.org/subscribe"
    data-umami-event="Blog Foundation - Newsletter">newsletter</a
  >. We also welcome you to join our <a
    href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
    data-umami-event="Blog Foundation - Community Slack">community slack</a
  > or participate in the next <a
    href="https://docs.google.com/document/d/1T_Q_eRZtL8GluJR9rVADd7fvkB8mPluMk-d96LM4vlg/edit?usp=sharing"
    data-umami-event="Blog Foundation - Community Call">community call</a
  >, which takes place each second Wednesday of the month.
</p>
