---
import { translatePath, useTranslations } from '@/utils'
import { buildUmamiAttrs } from '@/utils/main/umami'

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)

const linkAttrs = (href: string, linkText: string, label: string) =>
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'link',
    href,
    linkText,
    label
  })
---

<hr class="mt-space-l mb-space-s" />

<p class="italic">
  {t('blog.community.foundation.start')}
  <a
    href={translatePath('foundation-pages', routeLocale, 'subscribe')}
    {...linkAttrs(
      translatePath('foundation-pages', routeLocale, 'subscribe'),
      t('blog.community.newsletter'),
      'newsletter'
    )}>{t('blog.community.newsletter')}</a
  >. {t('blog.community.foundation.middle')}
  <a
    href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
    {...linkAttrs(
      'https://communityinviter.com/apps/interledger/interledger-working-groups-slack',
      t('blog.community.slack'),
      'community_slack'
    )}>{t('blog.community.slack')}</a
  >
  {t('blog.community.foundation.or')}
  <a
    href="https://docs.google.com/document/d/1T_Q_eRZtL8GluJR9rVADd7fvkB8mPluMk-d96LM4vlg/edit?usp=sharing"
    {...linkAttrs(
      'https://docs.google.com/document/d/1T_Q_eRZtL8GluJR9rVADd7fvkB8mPluMk-d96LM4vlg/edit?usp=sharing',
      t('blog.community.call'),
      'community_call'
    )}>{t('blog.community.call')}</a
  >, {t('blog.community.foundation.end')}
</p>
