---
import { useTranslations } from '@/utils'
import type { Locale } from '@/utils'

interface Props {
  routeLocale: Locale
  contentLang: Locale
  totalEntries: number
}

const { routeLocale, contentLang, totalEntries } = Astro.props
const t = useTranslations(routeLocale)

const isViewingEsContent = contentLang === 'es'
const isViewingEnContent = contentLang === 'en'
---

<div class="flex gap-xs text-body-sm-emphasis text-primary">
  <p class="m-0 text-body-sm-emphasis">
    {t('blog.lang_filter.results', { totalEntries })}
  </p>
  {
    isViewingEsContent && (
      <aside role="note">({t('blog.lang_filter.viewing_es_posts')})</aside>
    )
  }

  {
    isViewingEnContent && (
      <aside role="note">({t('blog.lang_filter.viewing_en_posts')})</aside>
    )
  }
</div>
