---
import {
  getTagUrl,
  translateTag,
  useTranslations,
  buildUmamiAttrs
} from '@/utils'
interface Props {
  allTags: string[]
  selectedTag?: string
  href: string
}
const { allTags, selectedTag, href } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const activeClass = ['bg-primary', 'text-white']
const inactiveClass = ['bg-white']

const tagAttrs = (tag: string, label: string) =>
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'cta',
    linkText: label,
    action: `tag_${tag}`
  })
---

<div class="mb-space-m bg-transparent rounded-[var(--border-radius)]">
  <div class="font-semibold mb-3xs text-step--1">{t('blog.filter.label')}</div>
  <div
    class="flex flex-wrap gap-space-3xs
  [&_a]:px-space-2xs [&_a]:py-space-3xs [&_a]:text-step--1 [&_a]:rounded [&_a]:shadow [&_a]:underline [&_a]:decoration-transparent [&_a]:transition-all [&_a]:duration-300 [&_a]:hover:decoration-inherit"
  >
    <a
      href={href}
      class:list={!selectedTag ? activeClass : inactiveClass}
      {...tagAttrs('all', t('blog.filter.all'))}
    >
      {t('blog.filter.all')}
    </a>
    {
      allTags.map((tag) => (
        <a
          href={getTagUrl(href, tag)}
          class:list={selectedTag === tag ? activeClass : inactiveClass}
          {...tagAttrs(tag, translateTag(tag, t))}
        >
          {translateTag(tag, t)}
        </a>
      ))
    }
  </div>
</div>
